.post-main {
    width: 100%;
    max-width: 1100px;
}

.post-sidebar {
    flex: 1;
    width: 100%;
    min-width: 300px;
}

.post {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.post-head {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}
.post-head>img {
    width: 250px;
    height: 250px;
    border-radius: 8px;
}

.post-summary {
    padding-top: 2em;
    border-top: 2px solid var(--border-color-tertiary);
}
.post-content {
    align-self: center;
    display: flex;
    flex-direction: column;
}

.image-container {
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin: 2em;
    max-width: 100%;
    align-items: center;
}

.image-container img {
    border-radius: 8px;
    max-height: 25em;
}
.image-container .image-text {
    align-self: center;
}
.post-buttons {
    justify-content: center;
    align-self: center;
}
.post-buttons>* {
    margin: 1em;
    color: var(--font-color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--background-color-tertiary);
    height: 2em;
    width: 2em;
}

.post-info {
    flex:1;
    display: flex;
    padding-bottom: 2em;
    justify-content: space-between;
    width: 100%;

    margin-left: 2em;
}

.post-info-text>* {
    flex-wrap: wrap;
}

.post-info-text>h1 {
    max-width: 400px;
}

.post-stats {
    display: flex;
    justify-content: end;
}

.section p, .post-head p{
    flex-wrap: wrap;
    align-self: center;
}
.section p {
    margin-top: 1em;
    max-width: 55em;
}


.section>h2 {
    width: 100%;
    border-bottom: 2px solid var(--border-color-tertiary);
    padding: 1em;
    margin-bottom: 1em;
    justify-self: center;
}

li {
    max-width: 45em;
}

.code {
    width: 80%;
    padding: 1em;
    overflow: scroll;
    background-color: black;
    border-radius: 8px;
    border: 2px solid var(--border-color-tertiary);
    align-self:center;
    margin: 1em;
}

.subsection {
    align-self: center;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: .9em;
    color: var(--font-color-secondary);
    margin: 1em;
    grid-column-start: 2;
    grid-column-end: 3;
}

.post-stats {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

.sidebar-block {
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 1em;
    border-bottom: 2px solid var(--border-color-tertiary);


}

.sidebar-block img {
    width: 100%;
    max-width: 100px;
    max-height: 100px;
}
