
.post-head {
    display: flex;
    justify-content: space-between;
}

.post-content {
    align-self: center;
    display: flex;
    flex-direction: column;
}

.image-container {
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin: 2em;
    max-width: 100%;
    align-items: center;
}

.image-container img {
    border-radius: 8px;
    max-height: 25em;
}
.image-container .image-text {
    align-self: center;
}
.post-buttons {
    justify-content: center;
    align-self: center;
}
.post-buttons>* {
    margin: 1em;
    color: var(--font-color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--background-color-tertiary);
    height: 2em;
    width: 2em;
}

.post-info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid var(--border-color-tertiary);
    padding-bottom: 2em;
    justify-content: start;
    align-items: center;
}

.post-info-text {
    margin-left: 1em;
}
.post-info-text>* {
    flex-wrap: wrap;
}

.post-info-text>h1 {
    max-width: 400px;
}
.post-info> img {
    min-height: 8em;
    max-height: 12em;
    border-radius: 8px;
}

.post-stats {
    display: flex;
    justify-content: end;
}

.section p, .post-head p{
    flex-wrap: wrap;
    align-self: center;
}
.section p {
    margin-top: 1em;
    max-width: 55em;
}


.section>h2 {
    width: 100%;
    border-bottom: 2px solid var(--border-color-tertiary);
    padding: 1em;
    margin-bottom: 1em;
    justify-self: center;
}

li {
    max-width: 45em;
}

.code {
    width: 80%;
    padding: 1em;
    overflow: scroll;
    background-color: black;
    border-radius: 8px;
    border: 2px solid var(--border-color-tertiary);
    align-self:center;
    margin: 1em;
}

.section .subtext {
    align-self: center;
    width: 65%;
    font-size: .9em;
    color: var(--font-color-secondary);
    margin: 1em;
}

.subsection {
    align-self: center;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: .9em;
    color: var(--font-color-secondary);
    margin: 1em;
    grid-column-start: 2;
    grid-column-end: 3;
}

.post-stats {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}