.about-main img {
    height: auto;
    max-width: 300px;
}

.about-text {
    max-width: 1000px;
    width: 100%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}


.about {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    width: 100%;
}