.section>img {
    width: 10em;
}

.section {
    display: flex;
    flex-direction: row;
}

.post-info {
    margin-left: 1em;
    flex-wrap: wrap;
}

.post-info>p {
    flex-wrap: wrap;
    max-width: 40em;
}