body {
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    grid-template-rows: 1fr 2fr 5fr;
}

.main {
    grid-column-start: 2;
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 155);
}

.header {
    align-items: end;
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    height: 150px;
    padding: 1em;
}

.nav a{
    font-size: large;
    padding-left: 50px;
    padding-right: 1em;
}
.post {
    display: flex;
}
.post img {
    height: 100px;
}

.best-posts {
    align-items: center;
    justify-content: center;
    display: flex;
}