:root {
    --background-color-main: white;
    --background-color-secondary: lightgray;
    --background-color-tertiary: white;
    --border-color-main: black;
    --border-color-secondary: lightgray;
    --border-color-tertiary: black;
    --font-color-main: black;
    --font-color-secondary: lightgray;
    --font-color-tertiary: black;

    font-family: sans-serif;
    background-color: var(--background-color-main);
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 50px 5fr 1fr;
    
    
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


body {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 2em 12fr 1fr;
}

.content {
    grid-column-start: 2;
    grid-row-start: 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 400px repeat(4, 155px);
}

.carousel {
  height: 100%;
  width: auto;
  background-color: var(--background-color-secondary);
}

.header {
    display: grid;
    overflow: hidden;
 
    grid-template-rows: 3.5em .5em;
    background-color: var(--background-color-main);
    grid-column-start: 1;
    grid-column-end: 4;
}

.header-logo {
    z-index: 2;
    position: relative;
    top: 0;
    left: 0;
    padding: 1em;
    max-width: 28em;
    height: 5em;
    
}

#search {
    position: absolute;
    padding: 15px;
    right: 0;
    grid-row-start: 1;
    grid-column-start: 4;

}

.border {
    display: grid;
    grid-template-rows: 1fr 1fr;
    z-index: 0;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: var(--border-color-main);
    overflow: hidden;
}

.white-block {
    z-index: 1;
    position: relative;
    left: 3.5em;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: var(--background-color-main);
    height: 1em;
    width: 5em;
    transform: rotate(72deg);
    
}
.white-line {
    background-color: var(--background-color-main);
}

.status-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    border-bottom: solid 2px var(--border-color-secondary);
    background-color: var(--background-color-main);
}

.status-bar > *{
  margin-left: 1em;
  margin-right: 1em;
  font-family: sans-serif;
  background-color: var(--background-color-tertiary);
  text-decoration:none;
}

.main-nav {
  display: flex;
  justify-content: end;
  align-items: center;
  grid-row-start: 1;
  grid-column-start: 4;
  grid-column-end: 5;
  /* border-bottom: solid 2px var(--border-color-secondary); */
}

.main-nav .buttons a{
margin-left: 1em;
margin-right: 1em;
font-family: sans-serif;
background-color: var(--background-color-tertiary);
text-decoration:none;
}

.post {
    display: flex;
}
.post img {
    height: 100px;
}

.best-posts {
    align-items: center;
    justify-content: center;
    display: flex;
}


.sidebar-left {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-row-start: 3;
  grid-column-start: 1; 
}

.sidebar-left .links {
  width: 200px;
  overflow: scroll;
  padding-right: 2em;

}

.link {
  padding-right: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 1em;
}

.link>img {
  padding-left: 1em;
}

a {
  color: black;
  text-decoration:none;
}
.footer {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    background-color: var(--background-color-secondary);
}