{% extends 'main.html' %}
{% block title %}WIRECAT Blog{% endblock %}

{% block nav %}
    <a href="/blog/collection/featured">Featured</a>
    <a href="/blog/collection/best">Best</a>
    <a href="/blog/collection/recent">Recent</a>
    <a href="/blog/collection/programming">Programming</a>
    <a href="/blog/collection/ctf">CTF's</a>
    <a href="/blog/collections">Collections</a>
    <a href="/blog/collection/recent">Recent</a>
    <a href="/blog/collection/programming">Programming</a>
    <a href="/blog/collection/ctf">CTF's</a>
    <a href="/blog/collections">Collections</a>
{% endblock %}

{% block content %}

{% endblock %}