{% extends 'main.html' %}

{% block css %}
{% endblock %}

{% block title %}WIRECAT Blog{% endblock %}

{% block nav %}
    <a href="/blog/collection/featured">Featured</a>
    <a href="/blog/collection/best">Best</a>
    <a href="/blog/collection/recent">Recent</a>
    <a href="/blog/collection/programming">Programming</a>
    <a href="/blog/collection/ctf">CTF's</a>
    <a href="/blog/collections">Collections</a>
    <a href="/blog/collection/recent">Recent</a>
    <a href="/blog/collection/programming">Programming</a>
    <a href="/blog/collection/ctf">CTF's</a>
    <a href="/blog/collections">Collections</a>
{% endblock %}

{% block content %}
<div class="post-main">
    {% block post %}
    {% endblock %}
</div>
<div class="post-sidebar">

    {% if random %}
        <div class="random section">
            <p>Other Cool Posts</p>
            {% for post in random %}
            <a href="/post/{{post.slug}}">
                <div class="sidebar-block">
                    <img src="/static/posts/{{post.publish_date}}/{{post.thumbnail}}" alt="">
                    <p class="link">{{post.title}}</p>
                    <p>{{post.summary}}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    {% endif %}
    {% if latest %}
        <div class="latest section">
            <p>Latest Posts</p>
            {% for post in latest %}
            <a href="/post/{{post.slug}}">
                <div class="sidebar-block">
                    <img src="/static/posts/{{post.publish_date}}/{{post.thumbnail}}" alt="">
                    <p class="link">{{post.title}}</p>
                    <p>{{post.summary}}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    {% endif %}

    {% if featured %}
    <div class="featured section">
        <p>Featured Posts</p>
        {% for post in featured %}
        <a href="/post/{{post.slug}}">
            <div class="sidebar-block">
                <img src="/static/posts/{{post.publish_date}}/{{post.thumbnail}}" alt="">
                <p class="link">{{post.title}}</p>
                <p>{{post.summary}}</p>
            </div>
        </a>
        {% endfor %}
    </div>
    {% endif %}
    {% block post_sidebar %}
    {% endblock %}
</div>
{% endblock %}