<div class="footer-about">
<h3 class="">About</h3>
<a href="/home" class="footer-nav">Home</a>
<a href="/forum" class="footer-nav">Forum</a>
<a href="/downloads" class="footer-nav">Downloads</a>
<a href="/home" class="footer-nav">Home</a>

</div>

<div class="footer-help">
<h3 class="">Help</h3>
<a href="/home" class="footer-nav">Home</a>
<a href="/forum" class="footer-nav">Forum</a>

<a href="/home" class="footer-nav">Home</a>
<a href="/forum" class="footer-nav">Forum</a>
<a href="/downloads" class="footer-nav">Downloads</a>
</div>

<div class="footer-Contact">
<h3 class="">Contact</h3>
<a href="/home" class="footer-nav">Home</a>
<a href="/forum" class="footer-nav">Forum</a>
<a href="/downloads" class="footer-nav">Downloads</a>

</div>