{% extends "main.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/frontpage.css">
{% endblock %}

{% block title %}WIRECAT Home{% endblock %}

{% block nav %}
    <a href="/collection/best">Best</a>
    <a href="/collection/recent">Latest</a>
    <a href="/collection/programming">Programming</a>
    <a href="/collection/ctf">CTFs</a>
    <a href="/collections">Playlists</a>
{% endblock %}
{% block banner%}
    <!-- <div class="banner"><img src="/static/images/wirecat-banner.svg" alt="123"></div> -->
{% endblock %}
{% block content %}
{% if featured %}
<div class="section main-head">
<a href="/post/{{featured[0].slug}}">
    <div class="carousel card">
            <div class="post">
                <img src="/static/posts/{{featured[0].publish_date}}/{{featured[0].thumbnail}}" alt="" class="thumbnail">
                <div class="carousel-overlay">
                    <p class="post-title">{{featured[0].title}}</p>
                    <div class="black-overlay"></div>
                </div>
            </div>
    </div>
</a>
</div>
{% endif %}
<div class="main-content">
    
    {% if latest %}
    <div class="section">

        <h2>Latest</h2>
        <a href="/post/{{latest[0].slug}}">
            <div class="carousel card">
                    <div class="post">
                        <img src="/static/posts/{{latest[0].publish_date}}/{{latest[0].thumbnail}}" alt="" class="thumbnail">
                        <div class="carousel-overlay">
                            <p class="post-title">{{latest[0].title}}</p>
                            <div class="black-overlay"></div>
                        </div>
                    </div>
            </div>
        </a>
    </div>
    {% endif %}
    {% if best %}
    <div class="section">
        <h2>Recommended</h2>
        <a href="/post/{{best[0].slug}}">
            <div class="carousel card">
                    <div class="post">
                        <img src="/static/posts/{{best[0].publish_date}}/{{best[0].thumbnail}}" alt="" class="thumbnail">
                        <div class="carousel-overlay">
                            <p class="post-title">{{best[0].title}}</p>
                            <div class="black-overlay"></div>
                        </div>
                    </div>
            </div>
        </a>
    </div>
    {% endif %}

    <div class="section">
        {% for post in latest %}
            <a href="/post/{{post.slug}}"><h3 class="link">{{post.title}}</h3></a>
            <p>&emsp;&emsp;{{post.summary[:250]}}...</p>        
        {% endfor %}
    </div>

</div>


<div class="main-sidebar">

    {% if best %}
        <div class="best section sidebar">
            {% for post in best %}
            <a href="/post/{{post.slug}}">
                <div class="sidebar-block">
                    <img src="/static/posts/{{post.publish_date}}/{{post.thumbnail}}" alt="">
                    <p class="link">{{post.title}}</p>
                    <p>{{post.summary[:100]}}...</p>
                </div>
            </a>
            {% endfor %}
        </div>
    {% endif %}
    {% if latest %}
        <div class="latest section sidebar">
            {% for post in latest %}
            <a href="/post/{{post.slug}}">
                <div class="sidebar-block">
                    <img src="/static/posts/{{post.publish_date}}/{{post.thumbnail}}" alt="">
                    <p class="link">{{post.title}}</p>
                    <p>{{post.summary[:100]}}...</p>
                </div>
            </a>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}