{% extends "main.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/frontpage.css">
{% endblock %}

{% block title %}WIRECAT Home{% endblock %}

{% block nav %}
<div class="nav">
    <a href="/collection/best">Best</a>
    <a href="/collection/recent">Latest</a>
    <a href="/collection/programming">Programming</a>
    <a href="/collection/ctf">CTFs</a>
    <a href="/collections">Playlists</a>

</div>
{% endblock %}

{% block content %}
{% for p in featured %}
<a href="/post/{{p.slug}}">
    <div class="carousel card">
            <div class="post">
                <img src="/static/posts/{{p.publish_date}}/{{p.thumbnail}}" alt="" class="thumbnail">
                <div class="carousel-overlay">
                    <p class="post-title">{{p.title}}</p>
                    <div class="black-overlay"></div>
                </div>
            </div>
    </div>
</a>
{% endfor %}

<h2>Latest</h2>
{% for a in latest_posts %}
<a href="/post/{{a.slug}}">
    <div class="carousel card">
            <div class="post">
                <img src="/static/posts/{{a.publish_date}}/{{a.thumbnail}}" alt="" class="thumbnail">
                <div class="carousel-overlay">
                    <p class="post-title">{{a.title}}</p>
                    <div class="black-overlay"></div>
                </div>
            </div>
    </div>
</a>
{% endfor %}

<h2>Recommended</h2>
{% for b in best_posts %}
<a href="/post/{{b.slug}}">
    <div class="carousel card">
            <div class="post">
                <img src="/static/posts/{{b.publish_date}}/{{b.thumbnail}}" alt="" class="thumbnail">
                <div class="carousel-overlay">
                    <p class="post-title">{{b.title}}</p>
                    <div class="black-overlay"></div>
                </div>
            </div>
    </div>
</a>
{% endfor %}
{% endblock %}