{% extends "main.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/frontpage.css">
{% endblock %}

{% block title %}WIRECAT Home{% endblock %}

{% block nav %}
<div class="nav">
    <a href="/collection/best">Best</a>
    <a href="/collection/recent">Latest</a>
    <a href="/collection/programming">Programming</a>
    <a href="/collection/ctf">CTFs</a>
    <a href="/collections">Playlists</a>

</div>
{% endblock %}

{% block content %}
{% for p in best_posts %}
<a href="/blog/{{p.post_id}}">
    <div class="carousel card">
            <div class="post">
                <img src="{{p.thumbnail}}" alt="" class="thumbnail">
                <div class="carousel-overlay">
                    <p class="post-title">{{p.title}}</p>
                    <p class="post-summary">{{p.summary}}</p>
                    <div class="black-overlay"></div>
                </div>
            </div>
    </div>
</a>
{% endfor %}

{% for a in all_posts %}
<a href="/blog/{{a.post_id}}">
    <div class="carousel card">
            <div class="post">
                <img src="{{a.thumbnail}}" alt="" class="thumbnail">
                <div class="carousel-overlay">
                    <p class="post-title">{{a.title}}</p>
                    <p class="post-summary">{{a.summary}}</p>
                    <div class="black-overlay"></div>
                </div>
            </div>
    </div>
</a>
{% endfor %}
{% endblock %}