{% extends 'blog.html' %}

{% block title %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/login.css">
{% endblock %}

{% block content %}
<div class="login-container">
    <h1>Wirecat is not accepting registrations at this time. Sorry!</h1>
    <form action="auth/login" method="POST" class="login-form">
        <div class="input-container">
            <label for="username-box"></label>
            <input type="text" id="username-box" name="username" placeholder="Username or email" required>
        </div>
        <div class="input-container">
            <label for="password-box"></label>
            <input type="password" name="password" id="password-box" placeholder="Password" required>
        </div>
        <button type="submit">Submit</button>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for m in messages %}
                <p class="message">{{m}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

{% endblock %}
