<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome to WIRECAT{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/main.css">
    {% block css %}{% endblock %}
</head>
<body>
    <div class="header">
        <div class="logo" id="header-logo">
            <a href="/">

            </a>
        </div>

        <div class="main-nav">
                <a href="/home" class="header-nav">Home</a>
                <a href="/forum" class="header-nav">Forum</a>
                <a href="/downloads" class="header-nav">Downloads</a>
                {% if logged_in %}
                    <!-- Display profile button if logged in -->
                    <a href="/dashboard">Dashboard</a>
                    <a href="/logout">Logout</a>
                {% else %}
                    <!-- Display login button if not logged in -->
                    <a href="/login">Login</a>
                {% endif %}       
        </div>
    </div>

    <div class="nav">{% block nav %}{% endblock %}</div>
    <div class="announcement-bar">
        {% if announcement %}
            <p>{{announcement | safe}}</p>
        {% endif %} 
    </div>
    {% block banner%}
    {% endblock %}
    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <div class="footer">
        {% include 'footer.html' %}
    </div>
</body>
</html>