{% extends 'blog.html' %}

{% block css %}
<link rel="stylesheet" href="/static/css/post.css">
{% endblock %}

{% block content %}
    <div class="post-head">
            <div class="post-info">
                <img src="/static/posts/{{post.publish_date}}/{{post.thumbnail}}" alt="">
                <div class="post-info-text">
                    <h1>{{post.title}}</h1>
                    <p>{{post.publish_date}}</p>
                    <p>By <a href="/profiles/{{post.author.username}}" class="link">{{post.author}}</a></p>
                </div>

            </div>
        <div class="post-stats">
            <p>{{post.summary}}</p>

            <p>Views: {{post.meta.views}} Favorites: {{post.meta.favorites}} Upvotes: {{post.meta.upvotes}}</p>
        </div>
    </div>

         {{post.html_content | safe}}


{% endblock %}