{% extends 'blog.html' %}

{% block css %}
<link rel="stylesheet" href="/static/css/post.css">
{% endblock %}

{% block content %}
    <div class="post-head">
            <div class="post-info">
                <img src="/static/posts/{{post.publish_date}}/{{post.thumbnail}}" alt="">
                <div class="post-info-text">
                    <h1>{{post.title}}</h1>
                    <p>Posted by <a href="/profiles/{{post.author.username}}" class="link">{{post.author}}</a> on <a href="/posts/{{post.publish_date}}" class="link">{{post.publish_date}}</a></p>
                </div>
                <!-- <div class="post-buttons">
                    <div>f</div>
                    <div>l</div>
                    <div>s</div>
                </div> -->
            </div>
            <p class="post-summary">{{post.summary}}</p>
            <p class="post-stats">Views: {{post.meta.views}} Favorites: {{post.meta.favorites}} Upvotes: {{post.meta.upvotes}}</p>
    </div>

         {{post.html_content | safe}}


{% endblock %}