{% extends 'blog.html' %}

{% block css %}
<link rel="stylesheet" href="/static/css/profile.css">
{% endblock %}

{% block content %}
<div class="section">
<p>{{user.email}}</p>
<p>{{user.first_name}}</p>
<p>{{user.last_name}}</p>
<p>{{user.profile.about}}</p>
<p>{{user.profile.gender}}</p>
<p>{{user.profile.dob}}</p>
<p>{{user.profile.signature}}</p>
</div>

{% if posts %}
    {% for post in posts %}
    <div class="section">
        <img src="/static/posts/{{post.publish_date}}/{{post.thumbnail}}" alt="">
        <div class="post-info">
            <a href="/post/{{post.slug}}" class="link">{{post.title}}</a>
            <p>{{post.publish_date}}</p>
            <p>{{post.summary}}</p>
        </div>
    </div>
    {% endfor %}
{% endif %}
{% endblock %}    

