{% extends "main.html" %}

{% block title %}WIRECAT Home{% endblock %}

{% block nav %}
<div class="nav">
    <a href="/blog/collection/featured">Featured</a>
    <a href="/blog/collection/best">Best</a>
    <a href="/blog/collection/recent">Recent</a>
    <a href="/blog/collection/programming">Programming</a>
    <a href="/blog/collection/ctf">CTF's</a>
    <a href="/blog/collections">Collections</a>
    <a href="/blog/collection/recent">Recent</a>
    <a href="/blog/collection/programming">Programming</a>
    <a href="/blog/collection/ctf">CTF's</a>
    <a href="/blog/collections">Collections</a>
</div>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/frontpage.css">
    <div class="carousel">
        {% for p in best_posts %}
            <div class="post">
                <p class="post-text">{{p.title}}</p>
                <a href="/blog/{{p.id}}"><img src="{{p.thumbnail}}" alt="" class="thumbnail"></a>
                </div>
        {% endfor %}
    </div>
</div>

<div class="latest-post">
    {{latest_post | safe}}
</div>

<div class="best-posts">
    <h2>Best Posts</h2>
    {% for p in best_posts %}
        <div class="post">
            <p class="post-text">{{p.title}}</p>
            <a href="/blog/{{p.id}}"><img src="{{p.thumbnail}}" alt="" class="post-image"></a>
        </div>
    {% endfor %}
</div>

{% endblock %}