<a href="/"><img src="/static/images/wirecat-logo.png" class="header-logo" alt=""></a>
<div class="main-nav">
        
    <div class="buttons">
        <a href="/home" class="header-nav">Home</a>
        <a href="/community" class="header-nav">Community</a>
        <a href="/downloads" class="header-nav">Downloads</a>        
        <a href="/login" class="header-nav">Login</a>
    </div>
</div>
<div class="border">
    <div class="white-line"></div>
    <div class="white-block"></div>
</div>
