<img src="../static/images/wirecat-logo.png" alt="" class="header-logo">

<form action="/search" method="post" id="search">
    <button type="submit">Search</button>
    <input type="text" id="search-bar">
</form>

<div class="main-nav">
        
    <div class="buttons">
        <a href="/home">Home</a>
        <a href="/community">Community</a>
        <a href="/downloads">Downloads</a>
    </div>
</div>
<div class="border">
    <div class="white-line"></div>
    <div class="white-block"></div>
</div>
