<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome to WIRECAT{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div class="header">
        {% include 'header.html' %}
    </div>
    <div class="status-bar">
        <a href="/home" class="feed">This is a test feed item</a>
        <p class="status">This is a test status bar!</p>
        <a href="/home" class="alert">This is something else!</a>
    </div>
    <div class="sidebar-left">
        {% include 'sidebar-left.html' %}
    </div>
    <div class="sidebar-right">
        {% include 'sidebar-right.html' %}
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <div class="footer">
        {% include 'footer.html' %}
    </div>
</body>
</html>