
<div class="links">
    <div class="link">
        <a href="">Best Posts</a>
        <img src="" alt="T">
    </div>
    <div class="link">
        <a href="">Latest Posts</a>
        <img src="" alt="T">
    </div>
    <div class="link">
        <a href="">Test Link</a>
        <img src="" alt="T">
    </div>
    <div class="link">
        <a href="">Test Link</a>
        <img src="" alt="T">
    </div>
    <div class="link">
        <a href="">Test Link</a>
        <img src="" alt="T">
    </div>
    <div class="link">
        <a href="">Test Link</a>
        <img src="" alt="T">
    </div>
    <div class="link">
        <a href="">Test Link</a>
        <img src="" alt="T">
    </div>
</div>


<!-- <div class="title"><h3>user@wirecat:~/blog$</h3></div> -->
